[submodule "vim/vimfiles/bundle/snipmate.vim"]
	path = vim/vimfiles/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/jedi-vim"]
	path = vim/vimfiles/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/delimitMate"]
	path = vim/vimfiles/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/syntastic"]
	path = vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-fugitive"]
	path = vim/vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-virtualenv"]
	path = vim/vimfiles/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vimerl"]
	path = vim/vimfiles/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/slimv.vim"]
	path = vim/vimfiles/bundle/slimv.vim
	url = git://github.com/vim-scripts/slimv.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/ctrlp.vim"]
	path = vim/vimfiles/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/snipmate_for_django"]
	path = vim/vimfiles/bundle/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-surround"]
	path = vim/vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/nerdcommenter"]
	path = vim/vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/gundo.vim"]
	path = vim/vimfiles/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/tagbar-vim"]
	path = vim/vimfiles/bundle/tagbar-vim
	url = git://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vitality.vim"]
	path = vim/vimfiles/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
    ignore = dirty
