[submodule "vim/vimfiles/bundle/jedi-vim"]
	path = vim/vimfiles/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/delimitMate"]
	path = vim/vimfiles/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/syntastic"]
	path = vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-fugitive"]
	path = vim/vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-virtualenv"]
	path = vim/vimfiles/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/ctrlp.vim"]
	path = vim/vimfiles/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-surround"]
	path = vim/vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/gundo.vim"]
	path = vim/vimfiles/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/tagbar-vim"]
	path = vim/vimfiles/bundle/tagbar-vim
	url = git://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vitality.vim"]
	path = vim/vimfiles/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-statline"]
	path = vim/vimfiles/bundle/vim-statline
	url = https://github.com/zekzekus/vim-statline.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/ack.vim"]
	path = vim/vimfiles/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-snipmate"]
	path = vim/vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vimfiles/bundle/tlib_vim"]
	path = vim/vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vimfiles/bundle/vim-addon-mw-utils"]
	path = vim/vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-javascript"]
	path = vim/vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vimfiles/bundle/vim-unimpaired"]
	path = vim/vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vimfiles/bundle/supertab"]
	path = vim/vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "config/fish/bundle/virtualfish"]
	path = config/fish/bundle/virtualfish
	url = https://github.com/adambrenecki/virtualfish.git
[submodule "vim/vimfiles/bundle/emmet-vim"]
	path = vim/vimfiles/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vimfiles/bundle/vim-repeat"]
	path = vim/vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vimfiles/bundle/linediff.vim"]
	path = vim/vimfiles/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-easymotion"]
	path = vim/vimfiles/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "zek-airline"]
	path = vim/vimfiles/bundle/vim-airline
	url = https://github.com/zekzekus/vim-airline.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-bufferline"]
	path = vim/vimfiles/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
    ignore = dirty
[submodule "zek-snippets"]
	path = vim/vimfiles/bundle/vim-snippets
	url = git@github.com:zekzekus/vim-snippets.git
    ignore = dirty
[submodule "vim/vimfiles/bundle/vim-tmux-navigator"]
	path = vim/vimfiles/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/vimfiles/bundle/vim-golang"]
	path = vim/vimfiles/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/vimfiles/bundle/vim-cimmnetary"]
	path = vim/vimfiles/bundle/vim-cimmnetary
	url = https://github.com/tpope/vim-commentary.git
