.netrwhist
config/fish/fish_history
config/fish/fishd.*

tmux/plugins

*~

plugged
plugged_vim
tags
nvim/pack
nvim/bundles
nvim/sessions
nvim/plugin/packer_compiled.lua

flycheck_*.el

emacs/auto-save-list
emacs/backup
emacs/elpa
emacs/network-security.data
.local.env

.direnv/

kakoune/plugins

*/.cpcache/

clojure/.clj-kondo/
clojure/.lsp/
nvim/lazy-lock.json
.clj-kondo/
.lsp/
/.DS_Store
