.netrwhist
config/fish/fish_history
config/fish/fishd.*

*~

plugged
plugged_vim
tags
nvim/pack
nvim/bundles

flycheck_*.el

emacs/auto-save-list
emacs/backup
emacs/elpa
emacs/network-security.data
.local.env
